<div class="container">
  <h1>Welcome to Sinatra URL shortener!</h1>
  <form action="/urls" method="post">
  <p> please insert the long url link:</p>
  <input type="text" name="link">
  <input type="submit" value="SUBMIT">
  </form>

</div>


